<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <title>Detall config</title>
</head>
<body>
    <h1>Detall de la configuració</h1>
    <div>Identificador           : {{ config.id_config }}</div>
    <div>Nombre màxim d'intents  : {{ config.max_intents }}</div>
    <div>Long mínima de passwords: {{ config.min_passwd_long }}</div>
</body>
</html>