<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <title>Detall: {{ usuari.cognoms }}, {{ usuari.nom }}</title>
</head>
<body>
<div>
    {{ usuari.nom }},
    {{ usuari.cognoms }},
    {{ usuari.email }}
</div>
<!-- url 'index' Recorda que index fa referència al nom de la ruta. Consulta urls.py -->
<br><br><a href="{% url 'index' %}">Tornar a l'inici </a>
</body>
</html>