<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <title>Nou registre</title>
</head>
<body>
<h1>Nou usuari</h1>
<form method="post">
    <table>{{ usuari_form }}</table>
    <button type="submit">Enviar...</button>
    {% csrf_token %}
</form>
<!-- url 'index' Recorda que index fa referència al nom de la ruta. Consulta urls.py -->
<br><br><a href="{% url 'index' %}">Tornar a l'inici </a>
</body>
</html>