<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <title>Benvinguts al sistema</title>
</head>
<body>
<h1>Usuaris del sistema</h1>
<h2>Hi ha {{ n_usuaris }} usuaris al sistema</h2>
<h3><a href="insert">Agregar nou usuari...</a></h3>
<h1>El llistat d'usuaris és:</h1>
<div>
    <table border="1">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>EMail</th>
            <th></th> <!-- Per a l'enllaç Veure -->
            <th></th> <!-- Per a l'enllaç Editar -->
        </tr>
        </thead>
        <tbody>
        {% for usuari in usuaris %}
            <tr>
                <td>{{ usuari.id_usuari }}</td>
                <td>{{ usuari.cognoms }} {{ usuari.nom }}</td>
                <td>email: {{ usuari.email }}</td>
                <td><a href="detail/{{ usuari.id_usuari }}">Veure</a></td>
                <td><a href="edit/{{ usuari.id_usuari }}">Modificar</a></td>
                <td><a href="delete/{{ usuari.id_usuari }}">Eliminar</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<br>
</body>
</html>