{% extends 'web_app/bootstrap.html' %}

{% load django_bootstrap5 %}

{% block bootstrap5_content %}
    <div class="container">
        <h1>{% block title %}(no title){% endblock %}</h1>

        <ul class="nav nav-pills">
            <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">home</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'formset_default' %}">formulari conjunt</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'form_default' %}">formulari exemple</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'form_by_field' %}">formulari amb camps</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'form_horizontal' %}">formulari horitzontal</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'form_inline' %}">formulari in_line</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'form_with_files' %}">formulari amb fitxers</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'pagination' %}">paginació</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'misc' %}">miscel·lània</a></li>
        </ul>

        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

        {% block content %}(no content){% endblock %}
    </div>

{% endblock %}
