{% extends 'web_app/base.html' %}
{% load django_bootstrap5 %}

{% block title %}Exemple d'integració de django & BootStrap 5{% endblock %}

{% block content %}
    This is <em>bootstrap5</em> for <strong>Django</strong>.
{% endblock %}