{% extends 'web_app/base.html' %}

{% load django_bootstrap5 %}

{% block title %}
    Paginació
{% endblock %}

{% block content %}

    <table class="table">
        {% for line in lines %}
            <tr>
                <td>{{ line }}</td>
            </tr>
        {% endfor %}
    </table>

    <hr>

    {% bootstrap_pagination lines url="/pagination?page=1&flop=flip" extra="q=foo" size="sm" %}

    {% bootstrap_pagination lines url="/pagination?page=1" size="lg" %}

{% endblock %}