{% extends 'usuari_app/bootstrap.html' %}
{# carrega el directori static on tenim les imatges -- STATIC_URL --> settings.py #}
{% load static %}
{# Carrega el framework #}
{% load django_bootstrap5 %}
{# Aquest block correspon al llistat d'usuaris #}
{% block bootstrap5_content %}
    {# Els links i botó del menú principal superior #}
    <div class="container">
        <h1>{% block title %}(no title){% endblock %}</h1> {# Mostrem el títol a la part superior#}
        <ul class="nav nav-pills">
            <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">home</a></li>
            <li class="nav-item"><a class="nav-link active" href="{% url 'create' %}">Nou usuari...</a></li>
        </ul>
        {# Aquí es mostren els missatges d'error, advertències, ... #}
        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}
    </div>
    <br>
    <table class="table table-striped table-light table-hover">
        <thead> {# Capçalera de la taula #}
        <tr>
            <th>Imatge</th>
            <th>ID</th>
            <th>Nom</th>
            <th>Cognoms</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        {#  Recorrem els objectes/registre s#}
        {% for usuari in usuaris %}
            <tr class="align-middle">
                <td width="7%">
                    <img src="{% static 'uploads/default_profile.png' %}" alt="imatge perfil"
                         class="figure-img rounded-fluid" width="33%" height="33%">
                </td>
                <td>{{ usuari.id_usuari }}</td>
                <td>{{ usuari.nom }}</td>
                <td>{{ usuari.cognoms }}</td>
                <td>{{ usuari.email }}</td>
                <td>
                    {# Utilizem un formulari que realitzará la eliminació d'un registre #}
                    <form method="POST" action="delete/{{ usuari.id_usuari }}">
                        {% csrf_token %}
                        <div class="btn-group">
                            {# Creem 3 botons per visualitzar, editar i eliminar un element #}
                            <a href="detail/{{ usuari.id_usuari }}" title="Detall" type="button"
                               class="btn btn-outline-success">Detall</a>
                            <a href="edit/{{ usuari.id_usuari }}" title="Editar" type="button" class="btn btn-warning">Editar</a>
                            <a href="delete/{{ usuari.id_usuari }}" title="Eliminar" type="button"
                               class="btn btn-danger">Eliminar</a>
                        </div>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {# Aquest bloc és el peu de pàgina #}
    {% block content %}{% endblock %}
{% endblock %}