{% extends 'usuari_app/bootstrap.html' %}
{% load django_bootstrap5 %}
{# Aquest block correspon al llistat d'usuaris #}
{% block bootstrap5_content %}
    <div>
        {% if form %}
            <form method="POST" class="form">
                {% csrf_token %}

                {% bootstrap_form form layout=layout size=size %}

                {% bootstrap_button button_type="submit" content="Enviat" %}
                {% bootstrap_button button_type="reset" content="Cancelar" %}
            </form>
        {% endif %}
    </div>
    <br><br><a href="{% url 'home' %}">Tornar a l'inici </a>
{% endblock %}