{% extends 'usuari_app/bootstrap.html' %}
{% load django_bootstrap5 %}
{# Aquest block correspon al formulari de detall d'usuaris #}
{% block bootstrap5_content %}
    <div>
        <form>
            <fieldset disabled> {# Desactivem els controls input i així ens permet mostrar i no modificar #}
                <legend>Detall de l'usuari: {{ usuari.id_usuari }}</legend>
                <div class="mb-3">
                    <label for="cognoms" class="form-label">Cognoms</label>
                    <input id="cognoms" type="text" class="form-control" placeholder="{{ usuari.cognoms }}">
                </div>
                <div class="mb-3">
                    <label for="nom" class="form-label">Nom</label>
                    <input id="nom" type="text" class="form-control" placeholder="{{ usuari.nom }}">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Correu</label>
                    <input id="email" type="text" class="form-control" placeholder="{{ usuari.email }}">
                </div>
            </fieldset>
        </form>
    </div>
    <br><br><a href="{% url 'home' %}" type="button" class="btn btn-primary">Tornar a l'inici </a>
{% endblock %}