{% extends 'usuari_app/base.html' %}
{% load django_bootstrap5 %}

{% block title %}Exemple d'integració de django & BootStrap 5{% endblock %} {# Capçalera --> Especifiquem el títol #}

{% block content %} {# Peu de pàgina #}
    This is <em>bootstrap5</em> for <strong>Django</strong>.
{% endblock %}