<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <title>WELCOME</title>
</head>
<body>
<h1> Benvingut al sistema </h1>
<div>
    Nombre de configuracions al sistema: {{ n_configs }}
</div>
<div>
    <h2>
        Llistat de configuracions
    </h2>
    <div>
        <ul>
            {% for config in configs %}
                <li>ID: {{ config.id_config }},
                    <a href="config_detail/{{ config.id_config }}">detall</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
</body>
</html>